.a{
	color:red;
}

.slide{
	width: 100%;
	height: 300px;
	background-color: green;
}
.sidebar{
	float: left;
	width: 20%;
	height: 500px;
	background-color: green;
}
.content{
	float: left;
	width: 80%;
	height: 500px;
	background-color: yellow;
}
footer{
	width: 100%;
	height: 300px;
	background-color: red;
	clear: both;
}